[Desktop Entry]
Type=Application
Version=1.1.4
Name=AIVCtrl
GenericName=AIVCtrl
Exec=aivctrl.run
Comment=AIVCtrl - An UPnP/AV control point
Icon=/usr/bin/aivctrl/aivctrl48.png
Terminal=false
Categories=Qt;AudioVideo;Audio;Player;

