1 VERSIONINFO
FILEVERSION     1,0,2,0
PRODUCTVERSION  1,0,2,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", ""
      VALUE "FileDescription", "An UPnP Control Point"
      VALUE "FileVersion", "1,0,2,0"
      VALUE "InternalName", "aivctrl"
      VALUE "LegalCopyright", "Copyright (C) 2017-2018"
      VALUE "OriginalFilename", "aivctrl.exe"
      VALUE "ProductName", "aivctrl"
      VALUE "ProductVersion", "1,0,2,0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

10 ICON DISCARDABLE "icons\\aivctrl48.ico"
